@import "tailwindcss";
@import "@heroui/styles";

html {
  color-scheme: light dark;
}

:root {
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-zinc-900 dark:text-white;
  }
}